<div id="notification" style="display:none;z-index: 2147483647; left: 0px; top: 0px; width: 100%; margin: 0px; text-align: center; padding: 16px 0px; font-size: 1.2em; background-color: rgb(1, 187, 238); color: rgb(255, 255, 255); opacity: 1;">
  <div style="float:right;" id="notification">
    <a onclick="$('#notification').slideUp('slow'); return false;" style="color: #ffffff; font-weight: bold; margin-right: 10px;" href="#">X</a>
  </div>
  <p id='notification-message' style="margin: 0; background-color: #01bbee; color: #ffffff;">
  </p>
</div>