<section id="youtube-popup" class="quick-shop-wrapper visible youtube-popup" style='display:none'>
  <div class="quick-shop active">
	<span class="close" >X</span>
    <iframe width="100%" height="100%" id='popsocket_custom_socket_creator' src='https://www.youtube.com/embed/k3z2Y4-YUlg?rel=0autoplay=1'></iframe>
      
 </div>

</section>