<script type="text/javascript">
  window.location.replace('/collections/all-popsockets');
</script>
<h1 class="page-title">{{ 'collections.listing.header' | t }}</h1>

<div class="collections-list">
  {% include 'collection-grid' %}
</div>
